h1 {
	font-family:Arial;
	color:blue;
}
h4 { font-family:Helvetica;
	 color:red;
}
body {
	font-family:sans-serif;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}
div {
	position:absolute;
	left:50%;
	top:25%;
	
}
img {
	width:25%;
}